{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Reviews</title>
    </head>
    <style>
        html{
        scroll-behavior: smooth;
        width: 100%;
        }
   
        body 
        {
            background-image: linear-gradient(rgb(8, 7, 7), rgba(0, 0, 0, 0.24)),url('{% static 'images/main.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Open Sans', sans-serif;   
        }
    </style>
    <body>
        <!-- navigation -->
        <nav class="text-white text-white flex justify-between items-center py-4 px-5">
            <h1 class=" ml-[13%] text-xl font-bold">Mahila</h1>
         
            <ul class="flex space-x-10 text-white">
                {% if user.is_authenticated %}
                <li>Hello, {{user.first_name}}<li>
                <li> 
                    <a href ="{% url 'logout' %}"  target="blank">Logout</a>       
                </li>
                {% else %}
                <li> 
                    <a href ="{% url 'register' %}" target="blank">Register</a>       
                </li>
                <li> 
                    <a href ="{% url 'login' %}" target="blank">Login</a>       
                </li>
                {% endif %}
            </ul>   
        </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
