{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>Login</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div class="row row-space text-white text-xl mb-8">
                        <a class="bg-gradient-to-r from-pink-600 to-purple-400 rounded-md hover:text-black px-4 py-4" href ="{% url 'admin_login' %}"><h2>Admin Login</h2></a>
                        <a class="bg-gradient-to-r from-pink-600 to-purple-400 rounded-md hover:text-black px-4 py-4" href ="{% url 'login' %}"><h2>User Login</h2></a>
                    </div>
                    <h2 class="title">User Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="username" class="label">Username</label>
                            <input class="input--style-4" type="text" name="username" required> 
                        </div>  
                        <div class="input-group">
                            <label for="password" class="label">Password</label>
                            <input class="input--style-4" type="Password" name="password" required>
                        </div>
						<div class="row row-space">
                            <div class="col-2">
                        		<div class="p-t-15">
                                    <button class="bg-sky-600 hover:bg-sky-400 px-10 py-3 rounded-md text-white" value="Login" type="submit">Login</button>
                        		</div>
							</div>
							<div class="col-2">
                                {% for message in messages %}
								<p class="text-red-700 text-xl mt-[8%]"> {{message}} </p>
                                {% endfor %}
							</div>
						</div>
                        <div class="row row-space">
                            <p class="mt-[2%] text-grey-700 text-xl">New user? <a href ="{% url 'register' %}" class="underline underline-offset-auto">Signup</a> </p>
                        </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

</body>

</html>
<!-- end document-->