{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel=0 `"stylesheet"> 
        <title>Contact Us</title>
    </head>
    <style>
        html{
        scroll-behavior: smooth;
        width: 100%;
        }
   
        body 
        {
            background-image: linear-gradient(rgb(8, 7, 7), rgba(0, 0, 0, 0.24)),url('{% static 'images/main.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Open Sans', sans-serif;   
        }
    </style>
    <body>

        <!-- navigation -->

        <nav class="text-white flex justify-between items-center py-4 px-5">
            <h1 class=" ml-[13%] text-xl mt-[1%] font-bold">Mahila</h1>
            <ul class="flex space-x-10 text-white">
                {% if user.is_authenticated %}
                <li>Hello, {{user.first_name}}<li>
                <li> 
                    <a href ="{% url 'logout' %}"  target="blank">Logout</a>       
                </li>
                {% else %}
                <li> 
                    <a href ="{% url 'register' %}" target="blank">Register</a>       
                </li>
                <li> 
                    <a href ="{% url 'login' %}" target="blank">Login</a>       
                </li>
                {% endif %}
            </ul>   
        </nav>

        <!-- Header -->

        <header class="text-white py-4">
            <div class="container mx-auto text-center">
                <h1 class="text-3xl font-semibold">Contact Us</h1>
            </div>
        </header>

        <!-- Contact Form -->

        <div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Get in Touch</h2>
            <form method="POST" action="{% url 'contact'%}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="name" class="block text-gray-600">Name</label>
                    <input type="text" id="name" name="name" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-600">Email</label>
                    <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                </div>
                <div class="mb-4">
                    <label for="message" class="block text-gray-600">Message</label>
                    <textarea id="message" name="message" rows="4" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 focus:outline-none">Send</button>
                </div>
            </form>
        </div>

        <!-- footer -->

        <nav class="bg-gradient-to-r from-black to-transparent text-white py-0 px-4 mt-[2%]" id="support">
            <p class="text-white text-2xl ml-[40%] mt-[5%] mb-[2%]">Brand Promise for Gold Jewellery</p>
            <hr>
            <ul class="flex flex-wrap justify-evenly  space-x-10 ml-[10%] mt-[2%]">
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">BIS Hallmarked</h1>
                    <div class="flex flex-col ml-[15%]">
                        <img class="w-[10rem] mt-[13%]" src="{% static 'images/bis.png' %}" alt="">
                    </div>
                </div>
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Certified Diamonds</h1>
                    <div class="flex flex-col">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-certificate ml-[29%]" width="100" height="100" viewBox="0 0 24 24" stroke-width="2" stroke="#FFA41B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5" />
                            <path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73" />
                            <path d="M6 9l12 0" />
                            <path d="M6 12l3 0" />
                            <path d="M6 15l2 0" />
                        </svg>            
                    </div>  
                </div>
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Lifetime Exchange</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-exchange ml-[29%]" width="100" height="100" viewBox="0 0 24 24" stroke-width="2" stroke="#FFA41B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 10h14l-4 -4" />
                        <path d="M17 14h-14l4 4" />
                    </svg>   
                </div>
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Easy 10 days return</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck-return ml-[29%]" width="100" height="100" viewBox="0 0 24 24" stroke-width="2" stroke="#FFA41B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v6h-5l2 2m0 -4l-2 2" />
                        <path d="M9 17l6 0" />
                        <path d="M13 6h5l3 5v6h-2" />
                    </svg>  
                </div>
            </ul>
        </nav>

        <nav class="bg-gradient-to-r from-black to-transparent text-white py-4 px-5" id="support">
            <ul class="flex space-x-10 mb-8">
                <div class="flex flex-col ml-[10%] ">
                    <h1 class="text-2xl font-bold">Our Services</h1>
                    <li>
                        <a href="{% url 'book_appointment' %}">Appointments</a><br><a href="{% url 'repair' %}">Repair and fix</a><br><a href="{% url 'piercing' %}">Ear Piercing</a><br><a href="{% url 'piercing' %}">Nose Piercing</a><br><a href="{% url 'polish' %}">Gold Polishing</a>
                    </li>
                </div>
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Useful Links</h1>
                    <li>
                        <a href="">Delivery Information<br>International Shipping<br>Payment Option<br>Track Your Order<br>Return<br>Find a store</a>
                    </li>
                </div>
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Contact Us</h1>
                    <li>
                        <a href="https://www.facebook.com">Facebook</a><br><a href="https://twitter.com"/>Twitter</a><br><a href="https://www.youtube.com"/>YouTube</a>
                    </li>
                </div>  
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Mail Us:</h1>
                    <li>
                        <a href="{% url 'contact' %}">mahila@gmail.com<br> <h1 class=" text-xl font-bold">Telephone:</h1>0123-456789</a>
                    </li>
                </div>
                <div class="flex flex-col">
                    <h1 class=" text-2xl font-bold">Registered Showroom Address:</h1>
                    <li>
                        <a href="https://www.google.com/maps/">ABCD Mall,<br>Mahila Fashion Jewellery,<br> G B Road, Palakkad, 678001,<br>Kerala, India</a>
                    </li>
                </div>
            </ul>
            <hr>
            <div class="mt-[2%] text-center">
                <p>
                    &copy; 2023 Mahila Fashion Jewellery. All rights reserved. |
                    <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a>
                </p>
            </div>
        </nav>
    </body>
</html>  


